<% if @accommodations.count.zero? %>
  <div class='container bg-light h-100'>
    <p><%= t('.empty_accommodations') %></p>
  </div>
<% else %>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @accommodations.each do |accommodation| %>
          <div class="col">
            <div class="card shadow-sm">
              <%= link_to(accommodation_path(accommodation), class: 'text-decoration-none link-dark') do %>
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                <div class="card-body">
                  <p class="card-text"><%= accommodation.city %>, <%= accommodation.country %></p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
