<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto justify-content-center mb-md-0">
        <%= link_to(t('layout.header.navbar-brand'), root_path, class: 'navbar-brand m-1') %>
      </ul>

      <%= link_to(t('layout.header.log_in'), root_path, class: 'd-block link-dark text-decoration-none m-1') %>
      <%= link_to(t('layout.header.sign_in'), root_path, class: 'd-block link-dark text-decoration-none m-1') %>
    </div>
  </div>
</header>
