<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto justify-content-center mb-md-0">
        <%= link_to(t('layout.header.navbar-brand'), root_path, class: 'navbar-brand m-1') %>
      </ul>

      <% if current_user.nil? %>
        <%= link_to(t('layout.header.sign_in'), new_user_session_path, class: 'text-decoration-none m-1') %>
        <%= link_to(t('layout.header.sign_up'), new_user_registration_path, class: 'text-decoration-none m-1') %>
      <% else %>
        <%= button_to(t('layout.header.sign_out'), destroy_user_session_path, method: 'delete', class: 'btn btn-link text-decoration-none m-1') %>
      <% end %>
    </div>
  </div>
</header>
